<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    body {
      margin: 20px;
      font-family: sans-serif;
    }
    a {
      text-decoration: none;
      color: rgb(96, 143, 219);
    }
    a:hover, a:active {
      text-decoration: underline;
    }
    dt {
      font-weight: bold;
    }
    footer {
      padding-top: 1em;
      color: #999;
    }
    </style>
  </head>
  <body>
    <h1>{{ title }}</h1>  
    <p>
      This web service illustrates an API to validate data against predefined application profiles.
    </p>
    <h2>API Endpoints</h2>
    <dl>
      <dt><a href="profiles">GET profiles</a></dt>
      <dd>
        Return a list of supported application profiles
          ⇒ <a href="https://github.com/gbv/validation-api-ws#get-profiles">help</a>
      </dd>
      <dt>GET {profile}/validate</dt>
      <dd>
        Validate data against an application profile
          ⇒ <a href="https://github.com/gbv/validation-api-ws#get-profilevalidate">help</a>
      </dd>
      <dt>POST {profile}/validate</dt>
      <dd>
        Validate data against an application profile
          ⇒ <a href="https://github.com/gbv/validation-api-ws#post-profilevalidate">help</a>
      </dd>
    </p>
    <h2>Profiles</h2>
    <ul id="profiles">
    </ul>
    <footer>
      powered by <a href="https://github.com/gbv/validation-api-ws">validation-service</a>
    </footer>
  </body>
</html>
<script>
fetch("profiles").then(res => res.json()).then(profiles => {
  const ul = document.getElementById("profiles")
  profiles.forEach(({ id, url, description }) => {
    const li = document.createElement('li')
    if (url) {
      const a = document.createElement('a')
      a.href = url
      a.textContent = id
      li.appendChild(a)
    } else {
      li.textContent = id
    }
    if (description) {
      const span = document.createElement('span')
      span.textContent = ": " + description
      li.appendChild(span)
    }
    ul.appendChild(li)
  })
})
</script>
